.Row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
}
.Row_title {
  align-self: baseline;
  margin: 18px 0 0 0;
}
.Row_container {
  display: flex;
  width: initial;
  gap: 8px;
  position: relative;
}
.Row_pagination {
  margin: 6px 0;
  align-self: baseline;
}
.arrow_left {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  border: none;
  padding: 4px 8px 8px 8px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  font-weight: 900;
  color: white;
  z-index: 1;
  transform: translatey(-50%);
  cursor: pointer;
}

.arrow_right {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  border: none;
  padding: 4px 8px 8px 8px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  font-weight: 900;
  color: white;
  z-index: 1;
  transform: translatey(-50%);
  cursor: pointer;
}

.arrow_left:hover,
.arrow_right:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
